<h1>Add Triangle Dimensions</h1>

<form action="/triangle" method="post">
  <div class="form-group">
    <label for="side_a">Side A length</label>
    <input id="a" name="side_a" class="form-control" type="number">
    <label for="side_b">Side B length</label>
    <input id="b" name="side_b" class="form-control" type="number">
    <label for="side_c">Side C length</label>
    <input id="c" name="side_c" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
